canvas {
    max-width: 100%;
    margin: 0 auto;
  }

  .button-cadastrar {
    text-align: right;
    margin: 5px;
    padding: 0 16px;
  }

  .button-editar {
    --padding-start: 0;
    --padding-end: 0;
    --height: 10px !important; /* Define a altura do botão */
    --width: 10px !important; /* Define a largura do botão */
    --border-radius: 10%; /* Torna o botão circular */
    width: 40%;
    height: 40%;
    padding: 0;
    font-size: 10px; /* Ajusta o tamanho do ícone ou texto */
    display: flex; /* Centraliza o ícone */
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .button-editar ion-icon {
    font-size: 16px; /* Tamanho do ícone */
  }
  
  
  .header {
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 14px; /* Define o tamanho da fonte no cabeçalho */
  }
  
  ion-row {
    border-bottom: 1px solid #ddd; /* Linha horizontal para separar as linhas da tabela */
  }
  
  ion-col {
    text-align: center;
    padding: 8px;
    font-size: 13px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }
  
  ion-col:last-child {
    border-right: none; /* Remove a linha na última coluna para evitar uma borda extra */
  }
  

  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #6366f1; // Customize a cor, se necessário
  }
  

  .variacao {
    display: flex;
    align-items: center;
    gap: 8px;
  
    ion-icon {
      font-size: 1.2rem;
    }
  
    &.positivo {
      color: #4caf50; /* Verde */
    }
  
    &.negativo {
      color: #f44336; /* Vermelho */
    }
  }

  .acoes {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os botões */
  }

  
  .button-acoes {
    --padding-start: 0;
    --padding-end: 0;
    --height: 10px !important; /* Define a altura do botão */
    --width: 10px !important; /* Define a largura do botão */
    --border-radius: 10%; /* Torna o botão circular */
    width: 40%;
    height: 40%;
    padding: 0;
    font-size: 10px; /* Ajusta o tamanho do ícone ou texto */
    display: flex; /* Centraliza o ícone */
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .button-acoes ion-icon, .button-editar ion-icon {
    color: white; /* Define a cor do ícone para branco */
  }
  