<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">investimentos</ion-title>
    </ion-toolbar>
  </ion-header>

   <!-- Gráfico -->
  <div style="padding: 16px;">
    <canvas #barChart></canvas>
  </div>

  <!-- Lista -->
  <div style="overflow-x: auto;">
    <ion-grid style="min-width: 800px; white-space: nowrap;">
      <!-- Cabeçalho da tabela -->
      <ion-row class="header">
        <ion-col><strong>Ativo</strong></ion-col>
        <ion-col><strong>Quantidade</strong></ion-col>
        <ion-col><strong>Preço Médio</strong></ion-col>
        <ion-col><strong>Nota</strong></ion-col>
        <ion-col><strong>Categoria</strong></ion-col>
      </ion-row>

      <!-- Conteúdo da tabela -->
      <ion-row *ngFor="let investimento of investimentos">
        <ion-col>{{ investimento.desc_ativo }}</ion-col>
        <ion-col>{{ investimento.qtd_cateira }}</ion-col>
        <ion-col>R$ {{ investimento.preco_medio }}</ion-col>
        <ion-col>{{ investimento.nota_ativo }}</ion-col>
        <ion-col>{{ investimento.desc_categoria }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
