ion-content {
    --background: #1e1e2e;
    color: #fff;
    padding: 16px;
  
    ion-item {
      --background: transparent;
      color: #fff;
      margin-bottom: 16px;
  
      ion-label {
        color: #e0e0e0;
      }
  
      ion-input {
        color: #fff;
      }
    }
  
    ion-button {
      margin-top: 20px;
      font-weight: bold;
    }
  }
  
  .loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #6366f1; // Customize a cor, se necessário
  }