<ion-header>
  <ion-toolbar>
    <ion-title>Distribuição de Aportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Calculando, aguarde...</p>
  </div>

  <!-- Campo para inserir o valor do aporte -->
  <ion-item>
    <ion-label position="floating">Valor do Aporte</ion-label>
    <ion-input type="number" [(ngModel)]="aporte"></ion-input>
  </ion-item>

  <!-- Botão para calcular -->
  <ion-button expand="block" (click)="calcularAporte()" [disabled]="isLoading || !aporte">
    Simular Distribuição
  </ion-button>

  <!-- Exibição do valor residual -->
  <div *ngIf="!isLoading && valorResidual !== undefined" class="valor-residual-container">
    <h2>Valor em Caixa: <strong>{{ valorResidual | currency:'BRL' }}</strong></h2>
    <p>
      O valor em caixa será mantido para o próximo aporte, caso não seja suficiente para atingir o valor ideal de algum ativo.
    </p>
  </div>

  <!-- Exibição da distribuição -->
  <div *ngIf="!isLoading && distribuicao.length > 0" class="distribuicao-container">
    <!-- Exibição por Categoria -->
    <div *ngFor="let categoria of distribuicao" class="categoria-container">
      <h1>{{ categoria.desc_categoria }}</h1>
      <h2>
        Ideal: {{ categoria.valorIdeal | currency:'R$':'code' }} <br>
        Atual: {{ categoria.valorAtual | currency:'R$':'code' }}
      </h2>

      <!-- Exibição dos Ativos -->
      <ion-list>
        <ion-item *ngFor="let ativo of categoria.ativos">
          <ion-label>
            <h3>{{ ativo.sigla_ativo.toUpperCase() }}</h3>
            <p>
              Nota do Ativo: {{ ativo.nota_ativo }} <br />
              Preço Médio: {{ ativo.preco_medio | currency:'BRL' }} <br />
              Cotação Atual: {{ ativo.preco_atual | currency:'BRL' }} <br />
              Quantidade Atual: {{ ativo.qtd_cateira }} <br />
              Valor Atual: {{ ativo.valorAtual | currency:'BRL' }} <br />
              Valor Ideal: {{ ativo.valorIdeal | currency:'BRL' }} <br />
              aportar em cotas: <strong>{{ ativo.qtdAportada }}</strong> <br />
            </p>
          </ion-label>
          <span>
            Aportar: <strong>{{ ativo.valorAportado | currency:'BRL' }}</strong>
          </span>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
