<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Investimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-spinner">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando...</p>
  </div>

  <ng-container *ngIf="!isLoading">
    <!-- Gráfico -->
    <div style="padding: 16px;">
      <canvas #barChart></canvas>
    </div>

    <!-- Título com Botão ao Lado -->
    <div class="header-with-button">
      <h1>Categorias de ativos</h1>
      <ion-button (click)="navigateToCalcularAporte()" fill="outline" color="primary">
        Novo Aporte
      </ion-button>
    </div>

    <!-- Lista de Categorias -->
    <div class="categories-container">
      <div
        *ngFor="let categoria of categorias"
        class="category-box"
        (click)="navigateToCategoria(categoria.id)">
        <h2>{{ categoria.desc_categoria }}</h2>
      </div>
    </div>
  </ng-container>
</ion-content>
